doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 it works
        main
            div#name 
                
                form
                    input(placeholder="nickname", type="text", required)
                    button Send

            div#join-room
                form
                    input(placeholder="room name", type="text", required)
                    button Join
                h4 Open rooms: 
                ul 
           
            div#room
                h3
                ul 
                form
                    input(placeholder="massage", type="text", required)
                    button Send
        script(src = "/socket.io/socket.io.js")
        script(type="module", src="../public/js/app.js")

