doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 it works
        main
            div#welcome
                form
                    input(type="text", required, placeholder="room name")
                    button Join
            div#call
                div#myStream 
                    video#myFace(autoplay, playsinline, width="400", height="400") 
                    button#mute mute
                    button#camera turn camera off
                    select#cameras
                    video#peersFace(autoplay, playsinline, width="400", height="400") 

        script(src = "/socket.io/socket.io.js")
        script(type="module", src="../public/js/app.js")

